.js-tasks {
    list-style: none;
    padding: 2rem;
    margin: 0;
    &__item {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid $c-light-grey;
    }
}

.task-content {
    flex:1
}

.js-done,
.js-remove {
    border: none;
    color: $c-white;
    height: 3rem;
    min-width: 3rem;
}

.js-done {
    background-color: $c-green;
    margin-right: 1rem;
}
.js-remove {
    background-color: $c-red;
    margin-left: 1rem;
}