.wrapper {
    max-width: 80rem;
    margin: 0 auto;
}

.js-form,
.js-tasks,
.form-title {
    background-color: $c-white;
    padding: 2rem;
}

.form-title {
    margin-bottom: .2rem;
}

.js-newTask,
.btn-submit {
padding: .8rem 1.5rem;
}