@media (max-width: 474px) {
  .js-form {
    flex-direction: column;
  }

  .btn-submit {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 810px) {
  .header-title {
    margin-left: 2rem;
  }
  .wrapper {
      margin: 0 1.5rem;
  }
}
