////////////////Typography



// //font sizes
// $fs-xs: 1.4rem;
// $fs-s: 1.6rem;
// $fs-m: 1.4rem;
// $fs-l: 2.6rem;
// $fs-xl: 1.4rem;

// //line height
// $lh-d: 1;
// $lh-l: 1.5;

// ////////////////-----------

// //colors
// $c-primary: #515151;
$c-light-grey: #EEEDEF;
$c-white: #ffffff;
$c-secondary: #007383;
$c-green: #1A7A1F;
$c-red: #EF293F;

// $screen-size-s: 500px;
// $screen-size-m: 720px;
// $screen-size-l: 900px;
// $screen-size-xl: 1100px;