@media (max-width: 544px) {
  .js-form {
    grid-template-columns: 1fr;
  }
  .section {
    &__header {
      grid-template-columns: 1fr;
    }
    &-options {
      flex-direction: column;
      padding: 1.5rem 0 0;
    }
  }
}

@media (max-width: 810px) {
  .header-title {
    margin-left: 2rem;
  }
}
